In [12]:
%matplotlib inline
from mysql_con import con
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_sql("select * from price where produce = 'FA1' and market = '104'",con())

In [3]:
df.head()

,market,produce,price_top,price_mid,price_low,price_ave,volumn,date_
0,104,FA1,67.0,52.7,31.9,51.4,233.0,2008/07/25
1,104,FA1,73.0,55.5,40.0,55.9,511.0,2008/07/26
2,104,FA1,68.4,49.3,33.8,50.0,589.0,2008/07/27
3,104,FA1,69.3,56.9,33.8,54.7,706.0,2008/07/29
4,104,FA1,55.9,45.9,36.7,46.0,467.0,2008/07/30

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.linear_model import Lasso,Ridge,BayesianRidge,ElasticNet,HuberRegressor,LinearRegression,LogisticRegression,SGDRegressor
from sklearn.metrics import mean_squared_error
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [10]:
train, test = train_test_split(df, test_size = 0.10, shuffle=False)
print (train.shape, test.shape)

(2869, 8) (319, 8)

In [ ]:
classifiers = [['DecisionTree :',DecisionTreeRegressor()],
               ['RandomForest :',RandomForestRegressor()],
               ['KNeighbours :', KNeighborsRegressor(n_neighbors = 2)],
               ['SVM :', SVR()],
               ['AdaBoostClassifier :', AdaBoostRegressor()],
               ['GradientBoostingClassifier: ', GradientBoostingRegressor()],
               ['Xgboost: ', XGBRegressor()],
               ['CatBoost: ', CatBoostRegressor(logging_level='Silent')],
               ['Lasso: ', Lasso()],
               ['Ridge: ', Ridge()],
               ['BayesianRidge: ', BayesianRidge()],
               ['ElasticNet: ', ElasticNet()],
               ['HuberRegressor: ', HuberRegressor()]]

print("Accuracy Results...")


for name,classifier in classifiers:
    classifier = classifier
    classifier.fit(X_train, y_train)
    predictions = classifier.predict(X_test)
    print(name, (np.sqrt(mean_squared_error(y_test, predictions))))